a {
  color: #000000;
  text-decoration: none;
}

body {
  background-color: #e84646;
}

#title {
  font-weight: 700;
  color: #0099ff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container .paragraph {
  color: rgba(255, 255, 255, 0.5);
}

.container {
  background-color: rgb(103, 15, 255);
  color: #000000;
  /* padding: 50px 40px 10px 30px; */
  margin: 70px 40px;
}

.list-container {
  list-style: none;
}

/* ## ## ##

00 

FF */

/* 0 - 255 */
